<div class="modal fade" id="contactsModalCenter" tabindex="-1" role="dialog" aria-labelledby="contactsModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactsModalCenterTitle">КОНТАКТЫ/РЕКВИЗИТЫ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h3>Контакты:</h3>
                        <p>Фактический адрес: 675000, Амурская область, Благовещенск, Октябрьская  173/1, офис 601</p>
                        <p>Электронная почта: <a href="mailto:info@itd.dev">info@itd.dev</a></p>
                        <p>Телефоны: +79244446663</p>
                        <h3>Реквизиты:</h3>
                        <p>ИП Дурнев Иван Владимирович</p>
                        <p>ИНН 281601583789 / ОГРНИП 311282717200033.</p>
                        <p>Юридический адрес: 675000, Амурская область, Благовещенск, Октябрьская  173/1, офис 601 Тел.: +79244446663</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
