<div class="modal fade" id="streamInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="chatInfoModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title white-text" id="exampleModalCenterTitle">ПРОГРАММА ТРАНСЛЯЦИИ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled white-text">
                    <li>18.00 - Старт;</li>
                    <li>18.00-18.30 - Мастер-класс по изготовлению коктейлей;</li>
                    <li>18.30-18.40 - С коктейлями смотрим приветственную речь главы компании;</li>
                    <li>18.40-19.30 - Играем в клевер;</li>
                    <li>19.30-20.00 - Награждение лучших сотрудников года;</li>
                    <li>20.30-22.00 - Старт онлайн-активностей + диджей-сет в основной трансляции.</li>
                </ul>

                <p class="text-light">Также в отдельных виртуальных комнатах будут работать:</p>
                <ul class="white-text">
                    <li>Детские мастер-классы;</li>
                    <li>Чемпионат по мафии;</li>
                    <li>Угадай мелодию;</li>
                    <li>Zoom-крокодил.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info stream-btn" style="padding: 10px" data-dismiss="modal">ЗАКРЫТЬ</button>
            </div>
        </div>
    </div>
</div>
