<div class="modal fade" id="paymentModalCenter" tabindex="-1" role="dialog" aria-labelledby="paymentModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalCenterTitle">СПОСОБЫ ОПЛАТЫ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <b>Банковской картой</b>
                        <p>Для выбора оплаты товара с помощью банковской карты на соответствующей странице
                            необходимо нажать кнопку Оплата заказа банковской картой. Оплата происходит через ПАО
                            СБЕРБАНК с использованием банковских карт следующих платёжных систем:</p>
                        <div class="row text-center">
                            <div class="col-md-3">
                                <img class="align-self-center mr-3" width="100" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Mir-logo.SVG.svg">
                                <div class="media-body">
                                    <p class="mt-0">МИР</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img class="align-self-center mr-3" width="100" src="https://www.ph4.ru/DL/LOGO/v/visa__.gif">
                                <div class="media-body">
                                    <p class="mt-0">VISA International</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img class="align-self-center mr-3" width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Mastercard_2019_logo.svg/120px-Mastercard_2019_logo.svg.png">
                                <div class="media-body">
                                    <p class="mt-0">Mastercard Worldwide</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img class="align-self-center mr-3" width="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/JCB_logo.svg/400px-JCB_logo.svg.png">
                                <div class="media-body">
                                    <p class="mt-0">JCB</p>
                                </div>
                            </div>
                        </div>
                        <p>Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО
                            СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в
                            защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк
                            поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard
                            SecureCode, MIR Accept, J-Secure, для проведения платежа также может потребоваться ввод
                            специального пароля.</p>
                        <p>Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
                            персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет
                            предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ.
                            Проведение платежей по банковским картам осуществляется в строгом соответствии с
                            требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.</p>
                        <h6>Возврат товара</h6>
                        <p>Срок возврата товара надлежащего качества составляет 30 дней с момента получения товара.
                            Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней
                            (срок зависит от банка, который выдал вашу банковскую карту).</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
