<section class="container" id="cart" style="display: none">
    <div class="columns text-center navbar">
        <div class="navbar-section">
            <div class="column col-3">
                <h2 class="mt-2">Корзина</h2>
            </div>
            <div class="column col-4 col-ml-auto">
                <button id="to-menu" class="btn btn-primary" style="margin-top: auto; margin-bottom: auto"><i class="icon icon-edit"></i> в меню</button>
            </div>
        </div>
    </div>
    <div id="cart-wrapper"></div>
    {% include 'main/__delivery_info.html' %}
</section>
